.nav {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background-color: #f8f9fa;
    width: 10vw;
}

.nav-link {
    color: #343a40;
    text-decoration: none;
}

.nav-link:hover {
    color: #007bff;
}

.active {
    color: #007bff;
    font-weight: bold;
}